:root {
  --primary-rgb: rgb(137, 227, 147);
  --foreground-rgb: rgb(255, 255, 255);
  --background-start-rgb: rgb(57, 57, 60);
  --background-end-rgb: rgb(38, 37, 45);
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--foreground-rgb);
  background: linear-gradient(to bottom right,
        var(--background-start-rgb),
        var(--background-end-rgb));
}

.app {
  box-sizing: border-box;
  display: table;
  margin: 0 auto;
}

.header {
  max-width: 850px;
}

.content {
  margin-left: 68px;
  @media only screen and (min-width: 600px) {
    margin-left: 130px;
  }

  width: 73%;
}

.subtitle {
  font-size: 28px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
}

#about {
  padding-top: 82px;
  p:last-child {
    margin-bottom: 0;
  }
}

#work {
  padding-top: 82px;
  padding-bottom: 100px;
}

#contact {
  padding-top: 82px;
  height: calc(100vh - 81px);
}

.content a:hover {
  opacity: 0.6;
}

p {
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 1.5;
}

#legal {
  font-size: 14px;
  opacity: 0.5;
}

a {
  text-decoration: none;
  color: var(--primary-rgb);
  cursor: pointer;
}
